/* button {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .up:hover {
  background-color: rgb(14, 50, 51);
  color: white;
}

.container .down:hover {
  background-color: rgb(14, 50, 51);
  color: white;
} */

/* ---------- button navigation up down below --------- */
/* .container {
  position: relative;
  z-index: 2;
  padding: 3rem;
  left: 0;
}

button {
  height: 55px;
  width: 55px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.up {
  margin: 1rem;
  border-radius: 8px;
  background: linear-gradient(145deg, #222222, #000000);
  box-shadow: 6px 6px 16px #222222, -6px -6px 16px #000000;
}

.down {
  margin: 1rem;
  border-radius: 8px;
  background: linear-gradient(145deg, #1e1e1e, #000000);
  box-shadow: 6px 6px 16px #1c1c1c, -6px -6px 16px #262626;
} */
