header#navbar-header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
  padding: 10px 5px;
  /* background-color: rgba(0, 0, 0, 0.212); */
  border-color: wheat;
  border: thin;
  border-radius: 2px;
  /* border-width: 1px; */
}
/* 
header {
  display: flex;
  justify-content: left;
} */

.logo {
  margin: 0;
  padding: 0px 15px;
  cursor: pointer;
  margin-right: auto;
}

a {
  font-size: smaller;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 5vh 10px;
}
